
.leaderboard-header {
    color: rgb(0, 0, 0);
    padding: 20px;
    font-weight: 600; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border-radius: 0px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .leaderboard-header .heading-text {
    font-size: 30px;
    text-align: center;
  }
  
  /* Style for the button */
  .leaderboard-header .btn {
    background-color: #466e87; 
    color: white; 
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600; 
    margin-left: auto; 
    cursor: pointer; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
  }
  
  .leaderboard-header .btn:hover {
    background-color: #6a757c; /* Darker orange on hover */
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
  }